body, html, p, img, a, table {
	margin: 0 auto;
}
body {
	width: 1100px;
	font-size: 13px;
	height: 100%;
	height: auto; 
	
}

table {
	width: 100%;
	border: 0;
	margin: 0;
}

.perf_label {
	text-align: right;
	/*padding: 0px 0px 2px 0px;*/
	height: auto;
	
}

a {
	font-weight: bold;
	color: #777;
	text-decoration: none;
}

a:hover {
	background-color: #C5C5C5; /*Menu hover bgcolor*/
	color: #000000;
	text-decoration: underline;
}
h1 {
	font-size: 22px;
	text-decoration: underline;
	font-variant: small-caps;

}

h2 {
	font-size: 19px;
}

h3 { 
	font-size: 15px;
}


h4 { 
	font-size: 12px;
}

.input_block {
	border-left: 2px solid #babcbd;
	border-right: 2px solid #babcbd;
	border-bottom: 2px solid #babcbd;
	font-size: 12px;
	background: #f1f1f1;
}

.input_block h1 {
	color: #000000;
	font-size: 17px;
	text-decoration: none;
	font-variant: small-caps;
	background-color: #babcbd;
	width: 100%;
	text-align: center;
	padding: 5px 0px 5px 0px;
}

.input_block a {
	color: #000000;
}

.input_block a:hover {
/*	font-size: 17px;
	font-variant: small-caps;
	background-color: #babcbd;
	width: 100%;
	text-align: center;
	padding: 5px 0px 5px 0px;
	text-decoration: none;
*/
}

.input_block th {
	font-weight: none;
}

.unit_label {
/*	width: 200px; */
	align: center;
	font-weight: bold;
}

.unit_control {
/*	width: 200px; */
	text-align: left;
	font-weight: bold;
}

th.table_head {
    font-size: 14px;
	padding: 5px 0px 5px 0px;
}

#list td {
    text-align: center;
    font-size: 13px;
	padding: 3px 0px 3px 0px;
}

#list a {
    color: blue;
    font-weight: normal;
    text-decoration: underline;
}

#list a:hover {
    font-weight: bold;
}

.label_left {
	width: 20%;
	text-align: right;
}

.unit_td td {
	align: center;
}

.submit {
	padding: 2px 2px 2px 2px;
	margin: 20px 0 0 220px ;
}

.heading {
	font-weight: bold;
}

.wrapper {
	margin-left: 165px;
	min-height: 100%;
	height: 100%;
}
/*Priya: Added code for home page alignment*/
.wrapperIndex {
/*	position: relative; */
	margin-left: 165px;
	margin-right: 165px;
	height: 100%;
}
.wrapperIndex OL{
/*	position: relative; */
	text-align: justify;

}
.wrapperIndex ul{
/*	position: relative; */
	text-align: justify;

}
.wrapperIndex p{
	text-align: justify;
}
/*Priya: End of added code*/

.footer {
	position: relative;
	font-size: 10px;
	bottom: 0; 
	width: 100%;
	clear: both;
    height: 60px;
    padding: 20px 0 0 0;
}

.even_perf {
	background-color: #fafafa;
}

.odd_perf {
	background-color: #e1e1e1;
}

.geo_extr {
	background-color: #c6f7ff;
}

.geo_analysis {
	background-color: #c6e2ff;
}

.edgar_analysis {
	background-color: #6699cc;
}

.carma_analysis {
	background-color: #5cacee;
}

.even {
	background-color: #fafafa;
}

.odd {
	background-color: #f1f1f1;
}

.float-clear {
	clear: both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

#line_b {
  width:31px;
  height:31px;
  background-image: url(http://google.com/mapfiles/ms/t/Blu.png);
}

#line_b.selected {
  background-image: url(http://google.com/mapfiles/ms/t/Bld.png);
}

#shape_b {
  width:31px;
  height:31px;
  background-image: url(http://google.com/mapfiles/ms/t/Bpu.png);
}

#shape_b.selected {
  background-image: url(http://google.com/mapfiles/ms/t/Bpd.png);
}

.map {
	width: 920px;
	height: 320px;
	border: 1px solid #babcbd;
	
}

.RightMenu {
	font-size: 11px;
	padding: 3px 3px 3px 3px;
	width: 150px;
	border-left: 1px solid #BABCBD ;
	text-align: left;
	height: 100%;
	min-height: 100%;
	height: auto;
}

.RightMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;

}

.RightMenu li {
	margin: 3px 0 0 0;
}

.RightMenu a {
	color: #8C8C8C;
	font-size: 100%;
	text-decoration: none;
}

.RightMenu a:hover {
	background-color: #C5C5C5;
	color: #000000;
}

.RightMenu h3 {
	border-bottom: 1px solid #BABCBD;
	color: #6C6C6C;
	font-weight: bold;
	font-variant: small-caps;
}

.LeftMenu {
	font-size: 11px;
	padding: 3px 3px 3px 3px;
	width: 150px;
	border-right: 1px solid #BABCBD;
	text-align: right;
	height: 100%;
	min-height: 100%;
	height: auto;
}

.LeftMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.LeftMenu li {
	margin: 3px 0 0 0;
}

.LeftMenu a {
	color: #8C8C8C;
	font-size: 100%;
	text-decoration: none;
}

.LeftMenu a:hover {
	background-color: #C5C5C5;
	color: #000000;
}

.LeftMenu h3 {
	border-bottom: 1px solid #BABCBD;
	color: #6C6C6C;
	font-weight: bold;
	font-variant: small-caps;
}

label.require:after {
	display: inline;
	content: "*";
	color: red;
}

.message {
	background: yellow;
	float: clear;	
	width: 800px;
	font-weight: bold;
}

.error {
	color: black;
	background-color: yellow;
}

#UpperMenu {
	float: right;
	font-size: 13px;
    margin: 10px 0 40px 650px;
    top: 10px;
}

#Menu {
	font-size: 12px;
	font-variant: small-caps;
    background: red;
}

#form {
/*	margin-left: 165px;*/
}
/*
#form table {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 1.7em;
	border: 0px;
	width: 800px;

}

#form td.input_right {
	width: 70%;
}

#form tr { 
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
}
*/														
#Menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1.7em;
	float: right;
}

#Menu li {
	float: left;
	position: relative;
	text-align: center;
	cursor: default;
	background-color: white;
}

#MainMenu li li a {
	display: block;
	font-weight: normal;
	color: #fff;
	padding: 0.2em 5px;
	margin: 0;
	font-variant: normal;
	font-size: 100%;
}

#MainMenu li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	font-weight: normal;
	padding: 2.7em 0 1.8em 0;
	line-height: 1.0em;
}

#MainMenu li>ul {
	top: auto;
	left: auto;
}

#MainMenu li li {
	display: block;
	float: none;
	background-color: transparent;
	border: 0;
}

#MainMenu li:hover ul, li.over ul {
	display: block;
}

#MainMenu a {
	float: left;
	
	color: #fff;
	margin: 0 2px 0 0; /*Margin between each Menu item*/
	padding: 3px;
	text-decoration: none;
	letter-spacing: 1px;
	background: #4b4b4b; /*Default Menu color*/
	border-bottom: 0px;
	border: 1px solid #eaecaa;
	width: 165px;
}

#MainMenu a:hover {
	background-color: #C5C5C5; /*Menu hover bgcolor*/
	color: #000000;
}

#SmallMenu {
	font-size: 100%;
	font-variant: small-caps;
}

#SmallMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1.0em;
	float: right;
}

#SmallMenu li {
	float: left;
	position: relative;
	text-align: right;
	cursor: default;
/*	background-color: white;*/
}
														
#VerticalMenu li li a {
	display: block;
	font-weight: normal;
/*	color: #777;*/
/*	padding: 0.2em 1px;*/
	margin: 0;
	font-variant: normal;
	font-size: 100%;
}

#VerticalMenu li ul {
	display: none;
	position: relative;
	font-weight: normal;
	margin: 0 1px 0 0;
}

#VerticalMenu li>ul {
	top: auto;
	left: auto;
}

#VerticalMenu li li {
	display: block;
	float: left;
	border: 0;
}

#VerticalMenu li:hover ul, li.over ul {
	display: block;
}

#VerticalMenu a {
	float: left;
	color: #777;
	margin: 0 2px 0 0; /*Margin between each Menu item*/
	padding: 1px;
	text-decoration: none;
	letter-spacing: 1px;
/*	border: 1px solid #babcbd;*/
	width: 150px;
}

#VerticalMenu a:hover {
	background-color: #C5C5C5; /*Menu hover bgcolor*/
	color: #000000;
}
