#line_2 {
  background: #333333;
  background-image: url('/data/images/menu_background.jpg');
  border-top: 1px solid #171717;
  border-bottom: 1px solid #171717;
/*  height:35px;  */
  line-height:35px; 
}

.custom_menu {
	right:0;
	left:auto;
	display:block;
	margin-bottom:0px;
}
.custom_menu .navbar-inner {
  background-color: transparent !important;
  background-image: none !important;
  margin-left: auto;
  margin-right: auto;
  
  padding: 0px !important;
  border:0px solid #000;
	-webkit-box-shadow:0 1px 0px #000;
	-moz-box-shadow:0 0px 0px #000;
	box-shadow:0 0px 0px #000;

	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	
  min-height:35px !important;
}

.custom_menu .navbar-inner > ul {
  width: 100%;
}

.custom_menu .navbar-inner .nav > li {
width:13%;        /* sirina knofa */
	font-size:15px;
	float: left;
/*	height: 42px; */
	position: relative;
	cursor: pointer;
	font-weight:100;	
	color: white !important;
	text-align:center;
	
	font:12px sans-serif;
}

.custom_menu .navbar-inner .nav > li:nth-child(4)  {  
width:20%;        /* sirina knofa */
}

.custom_menu .navbar-inner .nav > li:nth-child(5)  {  
width:20%;        /* sirina knofa */
}

.custom_menu .navbar-inner .nav > li:nth-child(6)  {  
width:20%;        /* sirina knofa */
}


.custom_menu .navbar-inner .nav > li:hover {
	background-color: #0094de;
	color: black !important;	
}

.custom_menu .navbar-inner .nav > li.open {
	background-color: #0094de;
	color: black;
}
.custom_menu .navbar-inner .nav > li > a {
/*	height: 55px; */
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
/*	color: white;	*/
color: inherit;
/* 	padding-left: 0px !important; */
}
.custom_menu .navbar-inner .nav > li > a:hover {
	border-right: 0px !important;
color: inherit;
/*	color: black;	*/
}

.custom_menu  .navbar-inner .nav li.dropdown > .dropdown-toggle .caret {
   border-bottom-color: white !important;
   border-top-color: white !important;
}
.custom_menu  .navbar-inner .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus.caret {
   border-bottom-color: black !important;
   border-top-color: black !important;
}


.custom_menu .navbar-inner .nav > li.dropdown.open > .dropdown-toggle {
	background-color: transparent;
	color: black;
}

    .dropdown-menu::before, 
    .dropdown-menu::after {
        border: none;
        content: none;
    }
/* open dropdowns on hover */


.custom_menu .navbar-inner .nav > li.dropdown:hover ul.dropdown-menu{
	display: block;
}

/* dropdown styling */

.custom_menu .navbar-inner .nav > li > ul.dropdown-menu {
	background-color: #00467c;
    box-shadow: none;
    border-radius: 0px;
/*	min-width:200px !important; */

   border: 0px;

   top:100%;
/*   position:absolute; */
   min-width:270px;
   margin:0px;
   z-index:300;
   text-align: left;
   font-size:14px;
   clear:both;
/*   left:auto; /* reset left:0; value */
   right:-4px;   
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;   
}

.custom_menu .navbar-inner .nav > li > ul.dropdown-menu a {
	margin:5px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	background-color: transparent;
	background-image: none;
	color: #0094de;
}

.custom_menu .navbar-inner .nav > li > ul.dropdown-menu a:hover {
	color:white;
	
/*	background-color: transparent; */
background-color: #0094de;
	background-image: none;
	font-weight:700;
}



.custom_menu .navbar-inner .nav li.dropdown > .dropdown-toggle .caret { display: none !important; }

.custom_menu .navbar-inner .nav > li > .dropdown-menu::before {
   display: none !important;
 }
.custom_menu .navbar-inner .nav > li > .dropdown-menu::after {
   display: none !important;
}


@media (max-width: 1203px) {
.custom_menu .navbar-inner .nav > li > a { padding: 10px 9px; }
}
@media (max-width: 979px) {
.custom_menu .navbar-inner .nav > li { float:none; }

#line_2 {
  background-image: none;
}

}