@page {
	margin: 1.5cm;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.page,
main {
	float: left;
	display: block !important;
	margin-top: 0 !important;
	padding-top: 0 !important;
	width: 100%;
	position: relative !important;
}

* {
	position: relative !important;
	background: transparent !important;
	color: #000 !important;
	text-shadow: none !important;
	-webkit-filter: none !important;
			filter: none !important;
}
.breadchrumbs {
	float: left;
	font-size: 12px;
	display: block !important;
	margin-top: 0 !important;
	padding-top: 0 !important;
	width: 100%;
}
.breadchr,
.breadchrdiv {
	position: relative !important;
	display: inline-block !important;
	width: 100% !important;
}
.breadchrdiv {
	padding: 0 !important;
}
footer {
	position: relative !important;
}
body {
	font-size: 76%;
}
.print-logo {
	display: block !important;
}
.cc-tag-bottom-right {
	display: none !important;
}
a:visited {
	text-decoration: underline;
}
a[href]::after {
	content: none !important;
}
abbr[title]::after {
	content: none !important;
}
pre,
blockquote {
	border: 1px solid #999;
}
thead {
	display: table-header-group;
}
p,
h2,
h3 {
	orphans: 3;
	widows: 3;
}
h2,
h3,
h4 {
	color: #157327 !important;
	page-break-after: avoid;
}
.page h2,
.page h3,
.page i {
	color: #157327 !important;
	-webkit-print-color-adjust: exact;
}
.related-topics,
.read-on,
.subwrap aside {
	display: none;
}
.subwrap main {
	width: 100%;
	display: block !important;
}
.subwrap main .container {
	width: 100%;
}
.subwrap main .top-links,
.subwrap main .lang,
.subwrap main .right,
.subwrap main .keyvisual {
	display: none;
}

