#myCarousel .carousel-inner {
}

#myCarousel .carousel-inner .item {
    -webkit-transition: ease-in-out opacity 1.7s;
    -moz-transition: ease-in-out opacity 1.7s;
    -ms-transition: ease-in-out opacity 1.7s;
    -o-transition: ease-in-out opacity 1.7s;
    transition: ease-in-out opacity 1.7s;
}

#myCarousel .carousel-inner .item.active.left {
    left:0;
    opacity:0;
    z-index:2;
}
#myCarousel .carousel-inner .item.active.right {
    left:0;
    opacity:0;
    z-index:2;
}

#myCarousel .carousel-inner .item.next {
    left:0;
    opacity:1;
    z-index:1;
}
#myCarousel .carousel-inner .item.prev {
    left:0;
    opacity:1;
    z-index:1;
}

