* {
    padding: 0;
    margin: 0;
    font-family: 'Calibri',sans-serif;
}
table td, table th {
	vertical-align: top;
}

.content-main table tbody tr:nth-child(even){
  background-color: #f0f0f0;
}
.content-main table thead tr {
	background-color: #1E72BD;
	color: white;
}
.content-main table tbody td, .content-main table thead th, .content-main table thead td {
  padding: 5px;
  margin: 0px;
}
.hidden {
	visibility: hidden;
}
.break {
    clear: both;
}
.content a {
    text-decoration: none;
    color: #1E72BD;
    font-weight: 700;
}
.content a:hover {
    text-decoration: underline;
}
.main-width {
    width: 1300px;
    margin: 0 auto;
    height: 100%;
}
.contact .main-width {
    width: 800px;
    margin: 0 auto;
    height: 100%;
}
header.first-page {
/*     height: 100vh; */
	height: 750px;
    position: relative;
}
header {
    *height: 100vh;
    position: relative;
}
header .menu {
    width: 100%;
    background-color: #FFF;
}
header .menu.small {
	height: 50px;
	box-shadow: 0px 10px 10px -1px rgba(153, 153, 153, 0.3);
}
.menu .logo {
    display: block;
    height: 70px;
    width: 220px;
    float: left;
    background-image: url(dsg/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 220px;
    image-rendering: -webkit-optimize-contrast;
    margin-top: 16px;
    clear: both;
}
.menu nav {
    width: auto;
    *height: 80px;
    float: right;
}
.menu nav > ul {
    list-style: none;
}
.menu nav > ul > li {
    display: inline-block;
    position: relative;
}
.menu nav > ul > li > a {
    display: block;
    text-decoration: none;
    /* font-family: "Roboto Condensed"; */ 
    font-weight: 700;
    color: #727272;
    text-transform: uppercase;
    font-size: 18px;
    box-sizing: border-box;
    padding: 40px 10px;
    transition: .2s;
}
.menu nav > ul > li > a:hover {
    color: #1E72BD;
}
.menu nav > ul > li > ul {
    position: absolute;
    width: 250px;
    z-index: 1;
    list-style: none;
    right: -30px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
.menu nav > ul > li > ul > li {
    display: block;
}
.menu nav > ul > li > ul > li > a {
    display: block;
    text-decoration: none;
     /* font-family: "Roboto Condensed"; */
    font-weight: 400;
    color: #727272;
    font-size: 16px;
    box-sizing: border-box;
    padding: 15px 0px;
    margin: 0px 20px;
/*     text-align: right; */
    border-bottom: 1px solid #e4e4e4;
}
.menu nav > ul > li > ul > li:hover {
    background-color: #efefef;
}
.menu nav > ul > li > ul > li:last-of-type > a {
    border-bottom: none;
}
.menu nav > ul > li > ul {
    display: none;
}
.menu nav > ul > li:hover > ul {
    display: block;
}
header .head-bg {
    width: 100%;
    background-image: url(dsg/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
/*     position: absolute; */
    top: 150px;
/*     bottom: 0px; */
	height: 600px;
}
.head-bg.sub {
    position: relative;
    top: 0;
    height: 250px;
    background-image: url(dsg/bg-2.jpg);
}
.head-bg.sub .head-text {
    margin-top: 100px;
}
.head-bg-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
}
header .head-bg .head-text {
    position: absolute;
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    /* font-family: "Roboto Condensed"; */
    margin-top: 50px;
}
header .head-bg .head-text span {
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 400;
    display: block;
}
.content {
    background-color: #FFF;
    box-sizing: border-box;
    padding: 60px 0px;
    font-weight: 400;
    font-size: 16px;
    color: #4e4e4e;
}
.content.points,
.content.certs {
    background-color: #f4f4f4;
}
.content.points ul {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
h1 {
    font-size: 30px;
   /* font-family: "Roboto Condensed"; */
    font-weight: 700;
    color: #727272;
    padding-bottom: 30px;
    background-image: url(dsg/h1-line-blue.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-bottom: 20px;
    image-rendering: -webkit-optimize-contrast;
}
h1.white {
    color: #FFF;
    padding-bottom: 0px;
    background-image: none;
    margin-bottom: 50px;
    text-align: center;
}
.button {
    text-transform: uppercase;
    font-size: 16px;
    /* font-family: "Roboto Condensed"; */
    font-weight: 600;
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #1E72BD;
    letter-spacing: 1px;
    transition: .2s;
    margin: 0 auto;
    margin-top: 30px;
    color: #FFF !important;
    text-decoration: none !important;
}
.button:hover {
    background-color: #03447c;
}
.content li {
    list-style: none;
    box-sizing: border-box;
    padding: 6px 0px 6px 23px;
    background-image: url(dsg/check.png);
    background-repeat: no-repeat;
    background-position: left top 10px;
    image-rendering: -webkit-optimize-contrast;
}
.content li ul li {
    background-image: none;
    list-style:disc;
    list-style-position: inside;
    padding-left: 0px;
}
.news-preview {
    width: 49%;
    float: left;
    display: block;
    height: 350px;
    text-decoration: none !important;
    font-weight: 500 !important;
    margin-bottom: 20px;
    transition: .2s;
}
.news-preview:hover {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(227,227,227,1);
    -moz-box-shadow: 0px 0px 50px 0px rgba(227,227,227,1);
    box-shadow: 0px 0px 50px 0px rgba(227,227,227,1);
}
.news-preview:nth-of-type(2n) {
    float: right;
}
.news-preview:hover h2 {
    color: #03447c;
}
h2 {
    font-size: 20px;
    /* font-family: "Roboto Condensed"; */
    font-weight: 700;
    color: #727272;
    box-sizing: border-box;
    margin: 17px 15px 0px 15px;
    padding-bottom: 17px;
    border-bottom: 1px solid #d2d2d2;
    transition: .2s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news-preview-img {
    width: 100%;
    height: 200px;
}
.news-preview-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-preview-text {
    color: #4e4e4e;
    box-sizing: border-box;
    margin: 15px;
    height: 70px;
    overflow: hidden;
}
.cert {
    height: 150px;
    width: 20%;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    image-rendering: -webkit-optimize-contrast;
}

.contact {
    box-sizing: border-box;
    padding: 60px 0px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    color: #4e4e4e;
    background-image: url(dsg/kontakt-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact form input {
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    background-color: #03447c;
    color: #FFF;
    box-sizing: border-box;
    padding: 0px 20px;
    margin-bottom: 5px;
    font-size: 16px;
}
.contact form input:last-of-type {
    width: 120px;
    height: 45px;
    outline: none;
    border: none;
    background-color: transparent;
    color: #FFF;
    /* font-family: "Roboto Condensed"; */
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: left;
    cursor: pointer;
    border: 1px solid #FFF;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    transition: .2s;
    background-image: url(dsg/footer-send.png);
    background-position: center right 23px;
    background-repeat: no-repeat;
    padding: 0px 25px;
}
.contact form input:last-of-type:hover {
    background-color: #03447c;
}
.contact form input::placeholder {
    color: #FFF;
    opacity: 1;
}
.contact form input:-ms-input-placeholder {
    color: #FFF;
    opacity: 1;
}
.contact form input::-ms-input-placeholder {
    color: #FFF;
    opacity: 1;
}
.contact form textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 500px;
    outline: none;
    border: none;
    background-color: #03447c;
    color: #FFF;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-bottom: 2px;
    font-size: 16px;
}
.contact form textarea::placeholder {
    color: #FFF;
    opacity: 1;
}
.contact form textarea:-ms-input-placeholder {
    color: #FFF;
    opacity: 1;
}
.contact form textarea::-ms-input-placeholder {
    color: #FFF;
    opacity: 1;
}

footer {
    background-color: #2c2c2c;
    box-sizing: border-box;
    padding: 60px 0px;
}
.footer-list {
    width: 33%;
    float: left;
    color: #ececec;
    font-size: 13px;
}
.footer-list:nth-of-type(2) {
	width: 67%;
}
.footer-list ul {
    list-style: none;
}
.footer-list ul li {
    box-sizing: border-box;
    padding: 2px 15px 2px 0px;
    image-rendering: -webkit-optimize-contrast;
}
.footer-list ul li.fax {
    background-image: url(dsg/fax-icon.png);
    background-position: left;
    background-repeat: no-repeat;
    padding: 2px 0px 2px 25px;
}
.footer-list ul li.tel {
    background-image: url(dsg/tel-icon.png);
    background-position: left;
    background-repeat: no-repeat;
    padding: 2px 0px 2px 25px;
}
.footer-list ul li.mail {
    background-image: url(dsg/mail-icon.png);
    background-position: left;
    background-repeat: no-repeat;
    padding: 2px 0px 2px 25px;
}
.footer-list ul a {
    color: #FFF;
    text-decoration: none;
}
.footer-list ul a:hover {
    text-decoration: underline;
}
h3 {
    font-size: 18px;
    /* font-family: "Roboto Condensed"; */
    font-weight: 700;
    color: #ececec;
    margin-bottom: 15px;
    padding-bottom: 5px;
    background-image: url(dsg/footer-line.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}
footer form {
    width: 100%;
    
}
footer form input:first-of-type {
    height: 35px;
    width: 85%;
    outline: none;
    border: none;
    float: left;
    background-color: #121212;
    box-sizing: border-box;
    padding: 0px 15px;
    color: #ececec;
}
footer form input:last-of-type {
    height: 35px;
    width: 15%;
    outline: none;
    border: none;
    float: left;
    background-color: #1E72BD;
    cursor: pointer;
    background-image: url(dsg/footer-send.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s;
}
footer form input:last-of-type:hover {
    background-color: #03447c;
}

.banner {
    width: 100%;
    height: 100px;
    background-color: #1E72BD;
    position: relative;
}
.banner:nth-of-type(2) {
    background-color: #03447c;
}
.banner-img {
    height: 50px;
    width: 80px;
    background-image: url(dsg/banner-1-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    image-rendering: -webkit-optimize-contrast;
    float: left;
    margin-top: 25px;
}
.banner:nth-of-type(2) .banner-img {
    background-image: url(dsg/banner-2-img.png);
    float: right;
}
.banner-text {
    height: 50px;
    float: left;
    width: 300px;
    color: #FFF;
    font-weight: 700;
    font-size: 25px;
    margin-top: 22px;
    margin-left: 20px;
}
.banner:nth-of-type(2) .banner-text {
    float: right;
    margin-left: 0px;
    margin-right: 20px;
}
.banner-text span {
    display: block;
    font-weight: 400;
    font-size: 16px;
}
.banner .button {
    border: 1px solid #FFF;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.banner:nth-of-type(2) .button {
    background-color: #03447c;
}
.banner:nth-of-type(2) .button:hover {
    background-color: #002a4e;
}
.banner-bg {
    height: 100px;
    width: 300px;
    float: right;
    background-image: url(dsg/banner-1-bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
}
.banner:nth-of-type(2) .banner-bg {
    float: left;
    background-image: url(dsg/banner-2-bg.png);
}
.banner-big {
    width: 100%;
    height: 300px;
    background-image: url(dsg/slogan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    box-sizing: border-box;
    padding: 120px 0px;
}


.content-main {
    width: 75%;
    float: left;
}
.content-main img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.content-main > h2 {
	margin-left: 0px;
}
.content-menu {
    width: 22%;
    background-color: #FFF;
    float: right;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
}
.content-menu > ul > li {
    background-image: none;
    padding: 0px;
}
.content-menu > ul > li > a {
    text-decoration: none;
    font-weight: 600;
    color: #666666;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #d9d9d9;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    transition: .2s;
}
.content-menu > ul > li > a:hover {
    text-decoration: none;
}
.content-menu > ul > li > ul {
    background-color: #FFF;
    list-style: none;
}
.content-menu > ul > li > ul > li {
    background-image: none;
    list-style: none;
    padding: 0px;
}
.content-menu > ul > li > ul > li > a {
    text-decoration: none;
    font-weight: 600;
    color: #808080;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    transition: .2s;
}
.content-menu > ul > li > ul > li > a:hover {
    background-color: #f4f4f4;
    text-decoration: none;
}
.top-info {
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
}
.top-address {
    /* font-family: "Roboto Condensed"; */
    font-weight: 400;
    padding: 16px 0px 16px 30px;
    background-image: url(dsg/marker.png);
    background-position: left;
    background-repeat: no-repeat;
    font-size: 15px;
    float: left;
}
.top-contact {
    float: right;
}
.top-contact > div  {
    /* font-family: "Roboto Condensed"; */
    font-weight: 400;
    padding: 16px 0px 16px 25px;
    font-size: 15px;
    margin-left: 20px;
    float: left;
    background-position: left;
    background-repeat: no-repeat;
}
.top-contact > div.top-mail  {
    background-image: url(dsg/mail-icon-blue.png);
}
.top-contact > div.top-phone  {
    background-image: url(dsg/tel-icon-blue.png);
}
.top-contact > div.top-fax  {
    background-image: url(dsg/fax-icon-blue.png);
}
.top-contact > div a  {
    text-decoration: none;
    /* font-family: "Roboto Condensed"; */
    font-weight: 400;
    color: #000;
}
.top-contact > div a:hover  {
    color: #1E72BD;
}
.loading {
    width: 135px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.loading .load {
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #f2f2f2;
    margin-right: 15px;
    float: left;
}
.loading .load:nth-of-type(5) {
    margin-right: 0px;
}
.loading .load:nth-of-type(2) {
    animation-delay: 1.16s;
}
.loading .load:nth-of-type(3) {
    animation-delay: 1.33s;
}
.loading .load:nth-of-type(4) {
    animation-delay: 1.50s;
}
.loading .load:nth-of-type(5) {
    animation-delay: 1.75s;
}
.loading .load {
    -webkit-animation: loading 1s  infinite;
    -moz-animation:    loading 1s  infinite;
    -o-animation:      loading 1s  infinite;
    animation:         loading 1s  infinite;
}
@-webkit-keyframes loading {
    0%   {background-color: #f2f2f2;}
    16.66%  {background-color: #e5e5e5;}
    33.33%  {background-color: #d7d7d7;}
    50%  {background-color: #e5e5e5;}
    100%   {background-color: #f2f2f2;}
}
@keyframes loading {
    0%   {background-color: #f2f2f2;}
    16.66%  {background-color: #e5e5e5;}
    33.33%  {background-color: #d7d7d7;}
    50%  {background-color: #e5e5e5;}
    100%   {background-color: #f2f2f2;}
}

.feature {
    width: 32%;
    text-align: center;
    color: #4e4e4e;
    float: left;
    margin-right: 2%;
}
.feature:nth-of-type(3n) {
    margin-right: 0%;
}
.feature-img {
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.feature-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.feature-img:hover img {
    transform: scale(1.1);
}
.feature span {
    font-size: 18px;
    padding: 15px 0px;
    display: block;
    font-weight: 600;
    color: #161616;
}

.slick-prev:before, .slick-next:before { 
    /*color:#1E72BD !important;*/
    color: white !important;
    /*font-size: 30px !important;*/
}
.slick-prev {
    margin-left: 40px;
	z-index: 99999;
}

.slick-next {
	margin-right: 50px;
	z-index: 99999;
}

.top {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: #1E72BD;
	position: fixed;
	bottom: 50px;
	right: 50px;
	background-image: url(dsg/arrow-top.png);
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
}


.cgp {
    width: 50%;
    float: left;
    height: auto;
    box-sizing: border-box;
    margin-top: 20px;
    position: relative;
    *border: 1px solid #ececec;
    margin-bottom: 30px;
}
.cgp-main {
    float: right;
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    *border-right: 1px solid #d9d9d9;
    position: absolute;
    right: 0;
}
.cgp-main img {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
/*     bottom: 0; */
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}
.cgp-buttons a {
    box-sizing: border-box;
    padding: 15px 20px;
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #818181;
    background-color: #f7f7f7;
}
.cgp-buttons a:hover {
    background-color: #FFF;
    color: #1E72BD;
    text-decoration: none;
}
.cgp-buttons {
    float: left;
    width: 40%;
}
h4 {
    font-size: 18px;
    color: #818181;
    margin-bottom: 20px;
}

#voscilobg {
	background-color: white;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	z-index: 99998;
	position: absolute;
	left: 0px;
	top: 0px;
}


@media only screen and (min-width:1350px) {
    
    header .menu.scrolled {
        position: fixed;
        top: 0;
        z-index: 1;
        height: 60px;
        transition: .2s
        -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.2);
    }
    .menu.scrolled .logo {
        height: 50px;
        width: 175px;
        background-size: 150px;
        margin-top: 5px;
        transition: .2s;
    }
    .menu.scrolled nav > ul > li > a {
        font-size: 17px;
        padding: 20px 10px;
    }

}

@media only screen and (max-width:1350px) {
    
    
    header .menu .main-width {
        width: 100%;
    }
    .main-width {
        width: 95%;
    }
    
}


@media only screen and (max-width:1050px) {
    
    header .menu .main-width {
        width: 100%;
    }
    header .menu {
        height: 50px;
    }
    .menu .logo {
        display: block;
        height: 40px;
        width: 180px;
        float: left;
        margin-top: 5px;
        margin-left: 10px;
        background-size: contain;
    }
    header .head-bg {
        width: 100%;
        *height: 400px;
        top: 50px;
    }
    .main-width {
        width: 95%;
    }
    .content {
        padding: 30px 0px;
    }
    h1 {
        font-size: 28px;
        padding-bottom: 20px;
    }
    h1.white {
        font-size: 28px;
        padding-bottom: 0px;
        margin-bottom: 30px;
    }
    .news-preview {
        width: 49%;
        height: 295px;
    }
    h2 {
        font-size: 16px;
        margin: 15px 10px 0px 10px;
        padding-bottom: 15px;
    }
    .news-preview-img {
        height: 150px;
    }
    .news-preview-text {
        margin: 10px;
        font-size: 13px;
        height: 73px;
    }
    .cert {
        height: 100px;
        margin-bottom: 20px;
    }
    .contact {
        padding: 30px 0px;
    }
    .contact form input {
        width: 100%;
        padding: 0px 15px;
    }
    .contact form input:last-of-type {
        font-size: 16px;
    }
    .contact form textarea {
        padding: 12px 15px;
    }
    footer {
        padding: 30px 0px;
    }
    header .head-bg .head-text {
        font-size: 50px;
        font-weight: 700;
        margin-top: 150px;
    }
    .menu nav {
        width: 50px;
        height: 50px;
        float: right;
        position: relative;
        background-image: url(dsg/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        image-rendering: -webkit-optimize-contrast;
        cursor: pointer;
        border-left: 1px solid #d2d2d2;
    }
    .menu nav > ul {
        list-style: none;
        display: none;
        background-color: #FFF;
        position: absolute;
        z-index: 1;
        right: 0px;
        top: 50px;
        width: 350px;
    }
    .menu nav > ul.opened {
        display: block;
        position: absolute;
        z-index: 99999;
    }
    .menu nav > ul > li {
        display: block;
        z-index: 99999;
    }
    .menu nav > ul > li > a {
        text-transform: uppercase;
        font-size: 13px;
        padding: 12px 10px;
        border-bottom: 1px solid #d2d2d2;
        text-align: right;
    }
    .menu nav > ul > li > a:hover {
        background-color: #f0f0f0;
    }
    .menu nav > ul > li:last-of-type > a {
        *border-bottom: none;
    }
    .menu nav > ul > li > a:hover {
        color: #1E72BD;
    }
    .menu nav > ul > li > ul {
        display: block;
        position: relative;
        width: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .menu nav > ul > li > ul > li > a {
        padding: 0px;
        margin: 0px;
        background-color: #f7f7f7;
        border-bottom: none;
        padding: 8px;
        font-size: 16px;
    }
    .menu nav > ul > li > ul > li > a:hover {
        background-color: #efefef;
    }
    .banner {
        height: auto;
        box-sizing: border-box;
        padding: 30px 0px;
    }
    .banner-img {
        height: 50px;
        width: 80px;
        float: none;
        margin-top: 0;
        margin: 0 auto;
    }
    .banner:nth-of-type(2) .banner-img {
        float: none;
    }
    .banner-text {
        height: auto;
        float: none;
        width: 100%;
        margin-top: 22px;
        margin-left: 0px;
        text-align: center;
    }
    .banner:nth-of-type(2) .banner-text {
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }
    .banner .button {
        position: relative;
        margin-top: 20px;
    }
    .banner-bg {
        display: none;
    }
    .banner-big {
        height: auto;
        font-size: 30px;
        padding: 60px 0px;
    }
    .content-main {
        width: 100%;
        float: none;
    }
    .content-menu {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .head-bg.sub {
        height: 100px;
    }
    .head-bg.sub .head-text {
        margin-top: 35px;
        font-size: 30px;
    }
    .head-text {
	    width: 100%;
    }
    .top-info {
        display: none;
    }
    .feature-img {
/*         height: 100px; */
    }
    .footer-list:nth-of-type(2) {
		width: 100%;
		float: none;
	}
    
}

@media only screen and (max-width:550px) {
    
    header .head-bg {
        *height: 250px;
    }
    .main-width {
        width: 90%;
    }
    .content {
        padding: 20px 0px;
    }
    .news-preview {
        width: 100%;
        float: none;
    }
    .news-preview:nth-of-type(2n) {
        float: none;
    }
    h2 {
        font-size: 16px;
        margin: 15px 10px 0px 10px;
        padding-bottom: 15px;
    }
    .news-preview-img {
        height: 150px;
    }
    .news-preview-text {
        margin: 10px;
        font-size: 13px;
        height: 73px;
    }
    .contact .main-width {
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }
    .footer-list {
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }
    header .head-bg .head-text {
        font-size: 30px;
        margin-top: 100px;
    }
    header .head-bg .head-text span {
        font-size: 15px;
    }
    .cert {
        
        width: 50%;
    }
    .content.points ul {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
    .feature {
        width: 100%;
        float: none;
        margin-right: 0%;
        margin-bottom: 30px;
    }
    .feature:nth-of-type(3n) {
        margin-right: 0%;
    }
    .feature-img {
/*         height: 200px; */
    }
    .cgp {
        width: 100%;
    }
    
}

@media only screen and (max-width:350px) {
    
    header .head-bg {
        *height: 150px;
    }
    .cert {
        height: 100px;
        width: 100%;
        margin-bottom: 20px;
    }
    header .head-bg .head-text {
        display: none;
    }
    
    
}