/* ------------------------------------

Mobile

-------------------------------------*/

@media (max-width: 550px) {
  .grid-x.grid-margin-x.item-grid.supplier-grid.video-grid article {
    margin-bottom: 1rem;
}
  section#latest-events-home {
    padding: 1rem;
}
  button#show-more-btn-hiden {
    margin: 0 0 1rem 2%;
}
  ul.menu li > a {
    width: auto;
  }
  #contact-us-form #purchasing-role-label:last-of-type {
    width: 100%;
  }
  section.storefront-latest-bottom-section .grid-container > .grid-x > :not(#tweets) {
    margin-bottom: 1rem;
  }
  #latest .report-hero-big > .grid-x .cell.large-6 {
    margin-bottom: 1rem;
  }
  #latest #energy-newsletter div[role="form"] form div:nth-of-type(2) span:first-of-type {
    height: auto;
}
  .extra-checkbox.col-sm-12 input[type="checkbox"] {
    transform: scale(1.2);
}
  .extra-checkbox * {
    margin: auto;
}
#contact-company .extra-checkbox {
    display: flex;
}
  .sf-video-small.video-up {
    width: 100%;
}
  div#mian-article .cls-table-cl {
    display: flex;
    flex-direction: column;
}
  section.storefront-latest-bottom-section > .grid-container > .grid-x {
    flex-direction: column;
}
  section.storefront-latest-bottom-section .grid-x * {
    height: auto;
    min-height: 0 !important;
}
  #white-paper-article .cell.large-3 div#energy-newsletter {
    height: auto;
    min-height: 0;
  }
  #white-paper-article .grid-x.report-main .large-12.report-hero-big .glow .grid-x>div {
    padding: 0.5rem 0;
  }
  p.event-title {
    display: flex;
    justify-content: space-between;
}
  p.event-title .fa-plus-circle {
    display: inline-block;
  }
  section.companies-section-container:first-of-type .company-index-container p {
    display: none;
  }
  section.companies-section-container:first-of-type {
    height: auto;
  }
  .company-a-z-container .companies-section-container .company-index-container * {
    margin: 0 5px;
}
  .company-a-z-container .companies-section-container .company-index-container p {
    margin: 0;
    display: flex;
    font-size: 20px;
    color: #cacaca;
}
  .company-a-z-container .companies-section-container {
    padding-top: 0;
    height: 43px;
  }
  .company-a-z-container .companies-section-container .company-index-container {
    display: flex;
    justify-content: space-between;
  }
  .company-a-z-container .companies-section-container .company-index-container h3 i {
  display: inline-block;
}
  .company-a-z-container .companies-section-container .company-details {
    width: 100%;
  }
  .company-a-z-container .companies-section-container .company-details:last-of-type .top-container {
    display: flex;
  }
  .company-a-z-container .companies-section-container .company-details .top-container p {
    margin: 0;
    display: flex;
    font-size: 20px;
    color: #cacaca;
    padding: 5px;
}
.company-a-z-container .companies-section-container .company-details .top-container a {
    display: none;
}
.company-a-z-container .companies-section-container i {
    align-self: center;
}
  .gallery .owl-nav {
    top: 28%;
  }
  .category-sub-article-3-tile > h3 {
    min-height: 60px;
  }
  #footer-carousel .carousel-inner a {
    max-width: 100%;
  }
  #home section #sub-article article {
    min-height: 0;
  }
  #home section #sub-article .category-sub-article article .txt-part {
    min-height: 0;
}
  .carousel-item a {
    height: 230px;
} 
  .grid-container.energy-search .cell.small-12.medium-12.large-12 > * {
    padding: 0.25rem 0;
}
  .grid-container.energy-search .cell.small-12.medium-12.large-12 {
    flex-direction: column;
}
  #footer-carousel {
    width: calc(100% - 2rem);
    margin: 0 auto 40px auto;
}
  #footer-carousel-lg-screen, #footer-carousel-md-screen {
    display: none;
  }
  #footer-carousel-sm-screen {
    display: block;
  }
  section#category-sub-article-2 .grid-container > div div:nth-of-type(2), section#category-sub-article-2 .grid-container > div div:last-of-type {
    padding: 0;
  }
  section#category-sub-article-2 .grid-container > div div {
    flex-direction: column;
    width: 100%;
  }
  #home section #homepage-main-article #mian-article .txt-part * {
    padding-top: 0.5rem;
}
  article#homepage-main-article {
    padding: 0 10px;
}
  #home section #mian-article .txt-part {
    padding: 0.5rem 0;
}



    nav li#search {
    margin-bottom: 1rem;
    width: 90%;
}
nav li#search:hover {
  background-color: transparent;
}
.bottom-banner .content-row-container .tile {
  margin-bottom: 0.5rem;
}
  #search-results-filter > div {
    flex-direction: column;
    height: 290px;
  }
  #search-results-filter > div select, #search-results-filter > div button {
    margin: 5px 0;
  }
  #search-results-filter > div button {
    padding: 8px;
  }
 .grid-x.report-main .large-12.report-hero-big .glow .grid-x > div .grid-container .grid-x:first-child > div.medium-2 {
    display: none;
}
  .cell.large-3 div#energy-newsletter {
    margin-top: 1rem;
  }
  #article .project-title .title-section h1 {
    font-size: 30px;
    line-height: 1.2;
}
#article .project-title .title-section {
    padding: 0 0.5rem;
}
  #article .project-tag {
    display: none;
}
#article section .article-body .social-media {
    flex-direction: row;
    margin: 1rem 0;
    justify-content: space-around;
    width: 100%;
}
#article section .article-body .social-media a {
    margin: 0 auto;
}
.article-body .cell.large-2 {
    order: 1;
}
#article .share-content-signup-form {
    display: none;
}
  .grid-x.a-z-category-filter-container {
    margin: auto;
}
button#show-more-btn {
    margin: 0 0 1rem 2%;
}
aside.cell.large-3.latest-news {
    display: none;
}
#home .category-grid article.featured #mian-article, #home article.featured #mian-article, .featured div#mian-article {
    height: auto;
}
#home article:not(.featured) div#mian-article {
    height: auto;
}
#home article:not(.featured) #mian-article img {
    height: auto;
}
.grid-container.taxonomy-catpage article {
    border-bottom: 1px dotted grey;
}
.grid-container.taxonomy-catpage article:last-of-type {
    border: none;
}
.cell.small-12.medium-12.large-3.col-right.category-content aside.left-section {
    display: none;
}
  #home #homepage-main-article div#mian-article, #home #homepage-main-article #mian-article img {
    height: auto;
  }
  #home section #sub-article {
    margin: 0;
  }
  #home section #sub-article .view-more {
    margin-bottom: 1rem;
  }
  #latest-events-home .grid-container > div {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  #home #latest-events-home {
    padding: 1rem;
  }
  section#category-sub-article-2 .grid-container {
    flex-direction: column;
    padding: 1rem;
  }
  section#category-sub-article-2 .grid-container > div:first-of-type, section#category-sub-article-2 .grid-container > div:last-of-type {
    margin: 0;
    flex-direction: column;
  }
  section#category-sub-article-3 .grid-container > div {
    flex-direction: column;
    margin: 0;
    padding: 1rem;
  }
  .category-sub-article-3-tile {
    margin: 0 0 2rem 0;
  }
  .grid-container.energy-search {
    padding: 0.25rem 0 0.5rem 0;
    width: 90%;
  }
  footer img {
    height: 25px;
  }
  footer .red-divider {
    margin: 2em 1rem 4em 1rem;
  }

  .grid-container.energy-search form {
    margin-left: 0 !important;
    width: 100% !important;
  }
  article.latest-event-red, article.magazine-features-main-article, article.magazine-features-main-article img, .magazine-features-sub-article, .magazine-features-sub-article img, .latest-event-black {
    height: auto;
  }
  #home section #sub-article article, #home section #sub-article article img {
    height: auto;
  }
  #homepage-main-article div#mian-article, #homepage-main-article img, article.magazine-features-main-article .grid-x, article.magazine-features-sub-article .grid-x {
    height: auto;
    flex-direction: column-reverse;
  }
  div#sub-article article .grid-x {
    flex-direction: column-reverse;
  }
  #home section #sub-article article img, .magazine-features-sub-article img {
    width: auto;
    max-width: 100%;
    margin-left: 0;
  }
  #home section #sub-article h2 {
    min-height: 0;
  }
  #home .tags {
    display: flex;
  }
  #home section #mian-article h1 {
    font-size: 30px;
  }
  .side-widgets {
    display: none;
  }
  .home_timeline .guided-tour.timeline-tour {
    margin-left: auto !important;
    padding: 5em 1em !important;
  }
  .report-hero-big .social-media a i {
    font-size: 20px;
    margin: 20px 0;
  }
  .report-hero-big .social-media a {
    width: 100%;
    display: flex;
  }
  .report-hero-big .social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .cmp-img {
    width: 100%;
  }
  .grid-x.report-main .large-12.report-hero-big .glow .grid-x > div .grid-container .grid-x:first-child {
    flex-direction: column;
  }
  .grid-x.report-main .large-12.report-hero-big .glow .grid-x > div.small-10 {
    padding-left: 1em !important;
  }
  #report_hero div:first-child {
    border-right: none;
    border-bottom: 5px solid #990100;
    padding: 0 0 3em 0;
  }
  #report_hero div {
    padding: 3em 0 0 0;
  }
  .grid-x.report-main .large-12.report-hero-big .glow .grid-x > div .grid-container > .grid-x:last-child {
    flex-direction: column;
  }
  .grid-x.report-main .small-2 .social-media, .grid-x.report-main .small-12 .social-media {
    flex-direction: row;
    width: 100%;
  }
  .grid-x.report-main .large-12.report-hero-big .glow .grid-x > div a {
    margin: auto;
  }
  .grid-x.report-main .large-12.report-hero-big .glow > .grid-x > div {
    padding: 1em;
  }
  .store-img-cont {
    margin: auto auto 20px auto;
  }
  .header-banner .header-banner-title .header-banner-title-text {
    padding-left: 0;
    border-left: none;
    padding-top: 20px;
    border-top: solid 5px #9b0000;
    width: 90%;
    margin: auto;
  }
  .suppliers-container .supplier-tile-container .supplier-tile {
    margin: 2% 0;
  }
  .grid-x.report-main .large-12.report-hero-big .glow > .grid-x > div {
    margin: 2% auto;
  }
  .thank-you-container {
    margin: 5%;
  }
  .thank-you-container h1 {
    margin: 5% 0;
  }
  .search-page-ln {
    display: none;
  }
  .videos-main-container {
    max-width: 100%;
    padding: 0 1em;
  }
  #loader aside.side-widgets {
    display: none;
  }
  .grid-container.industry-opinion-container {
    padding: 0 15px;
  }
  article.featured {
    max-height: 800px;
  }
  .ft-m-box {
    min-height: 0;
  }
  .features-analysis {
    padding: 0;
  }
  .row.report-main.category-grid {
    max-width: 100%;
    margin: 0;
  }
  .columns.small-12.medium-12.large-4.col-right.category-content {
    display: none;
  }
  .ft-m-box-sm {
    min-height: 0;
    height: 200px;
  }
  .report-main #mian-article {
    height: auto;
}
  .ft-m-box-sm img {
    max-width: 100%;
    height: 100%;
  }
  article.featured div#mian-article {
    display: flex;
    flex-direction: column-reverse;
    max-height: 800px;
  }
  article.featured .text-right {
    height: 200px;
  }
  article.featured .text-right img {
    width: 100%;
  }
  footer #bottom ul li {
    text-align: left;
  }
  div div#crumbs {
   /* display: none; */
    display: flex;
    margin-left: 1em;
  }
  #add-company .anr_captcha_field {
    width: 100%;
  }
  .vertical.medium-horizontal.menu.nav-aside {
    margin-top: 5%;
  }
  .main-header .main-nav-container #login {
    width: 90%;
    margin: 5% auto;
    background: #f0f0f0;
  }
  #login p.ctaModal.ctaLogin {
    width: 100%;
    text-align: center;
  }
  .small-screen-search input[type="search"] {
    background-image: url('../img/search-solid.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 7%;
  }
  .main-header .main-nav-container .register {
    width: 90%;
    margin-top: 5%;
  }
  .main-header .main-nav-container .register p {
    width: 100%;
    text-align: center;
  }
  .advertise-with-ns h1 {
    text-align: center;
  }
  div.advertise-with-ns {
    padding: 4em 2em;
  }
  .advertise-with-ns h3 {
    width: 100%;
  }
  div#advertise-with-ns-energy div.advertise-with-ns p {
    width: 100%;
  }
  .overview-lead-section {
    padding: 8em 2em;
  }
  .l-clm {
    padding: 0 2em;
  }
  .l-clm h2 {
    text-align: center;
  }
  .l-clm .input-group.add-form-group {
    flex-wrap: wrap;
  }
  .l-clm span.input-group-btn {
    width: 100%;
  }
  .l-clm span.input-group-btn input {
    width: 100%;
    padding: 3% 0;
    margin: 5% 0;
  }
  .pad-sec .grid-x, .advert-sec-gray .grid-x {
    flex-direction: column-reverse;
  }
  .lead-section {
    margin-bottom: 10%;
  }
  .add-your-company h1 {
    text-align: center;
  }
  .add-your-company h4 {
    text-align: center;
    width: 100%;
  }
  #add-company-form div.grid-x input[type="submit"] {
    width: 100%;
    padding: 2% 0;
  }
  .add-your-company-section form #add-company-form .g-recaptcha {
    margin: 0;
  }
  .add-your-company-section {
    padding: 2em;
  }
  #add-company .leads-generated .lead-section {
    padding: 7em 4em;
  }
  #newsletter-subscription-main-container label[for="email"] {
    width: 100%;
    padding: 0px 2em;
    margin: 5% 0 10% 0;
  }
  #newsletter-subscription-main-container label[for="send-info-consent"], #newsletter-subscription-main-container label[for="data-consent"] {
    padding: 0 2em;
  }
  #newsletter-subscription-main-container form > p {
    padding: 0 2em;
  }
  #newsletter-subscription-main-container #reCaptcha {
    padding: 0 3em;
  }
  #newsletter-subscription-main-container input[type="submit"] {
    width: 85%;
    margin-left: 7.5%;
  }
}

/* -----------------------------------

Tablet 

------------------------------------*/

@media (min-width: 551px) and (max-width: 815px) {
  button#show-more-btn-hiden {
    margin-left: 2%;
}
  ul.menu li > a {
    width: auto;
  }
  #latest .cell.small-12.medium-6.medium-offset-3.large-3.storefront-aside-outer-continer {
    margin-bottom: 1rem;
}
  section.storefront-latest-bottom-section .grid-container > .grid-x > :not(#tweets) {
    min-width: 95%;
  }
  #latest #energy-newsletter h5 {
    margin-bottom: -30px;
}
  #latest .wpcf7-form-control-wrap {
    margin-top: 30px;
  }
  #home .cell.small-12.large-3.col-right aside {
    margin-top: 0;
    max-height: 510px;
    overflow: scroll;
}
  #home .cell.small-12.large-3.col-right {
    display: flex;
    justify-content: space-between;
    max-height: 535px;
}
  section.companies-section-container:first-of-type .company-index-container p {
    display: none;
  }
  section.companies-section-container:first-of-type {
    height: auto;
  }
  .company-a-z-container .companies-section-container .company-index-container * {
    margin: 0 5px;
}
  .company-a-z-container .companies-section-container .company-index-container p {
    margin: 0;
    display: flex;
    font-size: 20px;
    color: #cacaca;
}
  .company-a-z-container .companies-section-container {
    padding-top: 0;
    height: 43px;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 0.5s ease-in;
  }
  .company-a-z-container .companies-section-container .company-index-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    height: 40px;
  }
  .company-a-z-container .companies-section-container .company-index-container h3 i {
  display: inline-block;
}
  .company-a-z-container .companies-section-container .company-details {
    width: 100%;
  }
  .company-a-z-container .companies-section-container .company-details:last-of-type .top-container {
    display: flex;
  }
  .company-a-z-container .companies-section-container .company-details .top-container p {
    margin: 0;
    display: flex;
    font-size: 20px;
    color: #cacaca;
    padding: 5px;
}
.company-a-z-container .companies-section-container .company-details .top-container a {
    display: none;
}
.company-a-z-container .companies-section-container i {
    align-self: center;
}
  .gallery .owl-nav {
    top: 38%;
  }
  #footer-carousel .carousel-inner a {
    max-width: 49%;
  }
  #bottom .ft-logo img {
    height: 22px;
    width: auto;
  }
  .carousel-item {
    height: 230px;
  }
  section#category-sub-article-2 .grid-container > div div {
    width: 100%;
  }
  section#category-sub-article-2 .grid-container > div {
    flex-direction: column;
  }
  #footer-carousel-lg-screen, #footer-carousel-sm-screen {
    display: none;
  }
  #footer-carousel-md-screen {
    display: block;
    width: 90%;
  }
    nav li#search {
    margin-bottom: 1rem;
    width: 90%;
}
nav li#search:hover {
  background-color: transparent;
}
.bottom-banner .content-row-container .tile {
  margin-bottom: 0.5rem;
}
  #search-results-filter > div {
    flex-wrap: wrap;
  }
  #search-results-filter > div select, #search-results-filter > div button {
    margin: 5px;
    min-width: 48%;
  }
  #search-results-filter > div button {
    height: 40px;
    max-width: 48%;
    margin: 5px auto 0 auto;
  }
  button#show-more-btn {
    margin: -1rem 0 1rem 15px;
  }
  .grid-x.report-main div div article > div {
    width: 100%;
    padding: 4rem;
}
  .grid-x.report-main .large-12.report-hero-big .glow .grid-x > div .grid-container .grid-x:first-child > div.medium-2 {
    display: none;
}
  .cell.large-3 div#energy-newsletter {
    margin-top: 1rem;
  }
  #article section .article-body {
    padding: 1rem;
  }
  #article .project-title .title-section h1 {
    font-size: 30px;
    line-height: 1.2;
}
#article .project-title .title-section {
    padding: 0 0.5rem;
}
  #article .project-tag {
    display: none;
}
#article section .article-body .social-media {
    flex-direction: row;
    margin: 1rem 0;
    justify-content: space-around;
    width: 100%;
}
#article section .article-body .social-media a {
    margin: 0 auto;
}
.article-body .cell.large-2 {
    order: 1;
}
#article .share-content-signup-form {
    display: none;
}
  aside.cell.large-3.latest-news {
    display: none;
}
  .cell.small-12.medium-12.large-3.col-right.category-content aside.left-section {
    display: none;
}
  article.featured div#mian-article {
    flex-direction: row;
  }
  #home #homepage-main-article div#mian-article, #home #homepage-main-article #mian-article img {
    height: auto;
    flex-direction: row-reverse;
}
#home section #sub-article article {
  min-height: 100px;
}
#home #latest-events-home {
    padding: 1rem;
}
#latest-events-home .grid-container > div {
    flex-wrap: wrap;
    margin: 0;
}
.home-event-tile {
    min-width: 45%;
    margin: 0 10px 0 0;
}
section#category-sub-article-2 .grid-container {
    padding: 1rem;
}
section#category-sub-article-3 .grid-container > div {
    flex-wrap: wrap;
}
section#category-sub-article-3 .grid-container > div {
    flex-wrap: wrap;
    margin: 0;
}
.category-sub-article-3-tile {
    min-width: 45%;
    margin-bottom: 1rem;
}
.energy-search {
  width: 95%;
}
.grid-container.energy-search form {
    width: 70%;
}
.energy-search h3, .input-group {
    margin: 0;
}
footer #bottom ul {
    margin: 0;
}     



  #home section #mian-article h1 {
    font-size: 30px;
}
  article.latest-event-red, article.magazine-features-main-article, article.magazine-features-main-article img, .magazine-features-sub-article, .magazine-features-sub-article img, .latest-event-black {
    height: auto;
}
  .side-widgets {
    display: none;
  }
  .article-head-fix {
    min-height: 0;
}
  #home .tags {
    display: flex;
}
  #home section #sub-article article img, .magazine-features-sub-article img {
    height: 275px;
    max-width: 100%;
    margin-left: 0;
}
  #homepage-main-article div#mian-article, #homepage-main-article img, article.magazine-features-main-article .grid-x, article.magazine-features-sub-article .grid-x, div#sub-article article .grid-x {
    height: auto;
    flex-direction: column-reverse;
}
#homepage-main-article img, article.magazine-features-main-article img {
  height: 300px;
  display: block;
  margin: auto;
  width: auto;
}
  .home_timeline .guided-tour.timeline-tour {
    margin-left: auto !important;
  }
  .main-header .main-nav-container .sub-nav-level-1 {
    margin: auto;
  }
  .report-hero-big .social-media a i {
    font-size: 20px;
}
  .report-hero-big .social-media a {
    width: 100%;
    display: flex;
}
  .report-hero-big .social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
}
  #report_hero img.cmp-img {
    margin: auto;
    display: block;
}
  #report_hero div:first-child {
    border-right: none;
    border-bottom: 5px solid #990100;
    padding: 0 0 3em 0;
  }
  #report_hero div {
    padding: 3em 0 0 0;
  }
  .grid-x.report-main .small-2 .social-media, .grid-x.report-main .small-12 .social-media {
    flex-direction: row;
    width: 100%;
    margin-top: 0 !important;
  }
  .grid-x.report-main .large-12.report-hero-big .glow .grid-x > div a {
    margin: auto;
  }
  .grid-x.report-main .large-12.report-hero-big .glow > .grid-x > div {
    margin: 2% auto;
  }
  .header-banner .page-nav-sm-container .social-media {
    width: 50%;
  }
  .header-banner .page-nav-sm-container .page-navigation {
    width: 50%;
  }
  .thank-you-container {
    margin: 5%;
  }
  .thank-you-container h1 {
    margin: 5% 0;
  }
  .videos-main-container .columns.small-12.medium-12.large-4 {
    margin-top: 0px;
  }
  .videos-main-container .medium-12.large-8.primary.category-content {
    padding: 0 2em;
  }
  article.featured {
    max-height: 800px;
  }
  .category-grid .large-8 article {
    width: 48%;
  }
  .ft-m-box {
    min-height: 0;
  }
  .features-analysis {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .row.report-main.category-grid {
    max-width: 100%;
    margin: 0;
  }
  .columns.small-12.medium-12.large-4.col-right.category-content {
    display: none;
  }
  .ft-m-box-sm {
    min-height: 0;
    height: 200px;
  }
  .report-main #mian-article {
    height: auto;
}
  .ft-m-box-sm img {
    max-width: 100%;
    height: 100%;
  }
  article.featured div#mian-article {
    display: flex;
    flex-direction: column-reverse;
    max-height: 800px;
  }
  article.featured .text-right {
    height: 200px;
  }
  article.featured .text-right img {
    width: 100%;
  }

  div#crumbs {
    padding-left: 15px;
  }
  #add-company .anr_captcha_field {
    width: 100%;
}
  .main-header .main-nav-container ul li {
    text-align: center;
  }
  .vertical.medium-horizontal.menu.nav-aside {
    margin: 5% auto;
    width: 60%;
  }
  .main-header .main-nav-container #login {
    width: 90%;
    margin: 5% auto;
    background: #f0f0f0;
  }
  #login p.ctaModal.ctaLogin {
    width: 100%;
    text-align: center;
}
  .small-screen-search input[type="search"] {
    background-image: url('../img/search-solid.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 4%;
  }
  .main-header .main-nav-container .register {
    width: 90%;
    margin-top: 5%;
  }
  .main-header .main-nav-container .register p {
    width: 100%;
    text-align: center;
} 
  .advertise-with-ns h1 {
    text-align: center;
  }
  div.advertise-with-ns {
    padding: 4em 10em;
  }
  .advertise-with-ns h3 {
    width: 100%;
  }
  div#advertise-with-ns-energy div.advertise-with-ns p {
    width: 100%;
  }
  .overview-lead-section {
    padding: 8em 2em;
  }
  .l-clm {
    padding: 0 10em;
  }
  .l-clm h2 {
    text-align: center;
  }
  .pad-sec .grid-x, .advert-sec-gray .grid-x {
    flex-direction: column-reverse;
  }
  .lead-section {
    margin-bottom: 10%;
  }
  .add-your-company h1 {
    text-align: center;
  }
  .add-your-company h4 {
    text-align: center;
    width: 100%;
  }
  #add-company-form div.grid-x input[type="submit"] {
    width: 100%;
    padding: 2% 0;
  }
  .leads-generated .lead-section {
    padding: 7em 26em;
  }
  section.leads-generated .add-your-company {
    padding: 8em 10em;
  }
  .add-your-company-section form #add-company-form label {
    width: 100%;
  }
  .add-your-company-section form #add-company-form .g-recaptcha {
    margin: 0;
  }
  #newsletter-subscription-main-container label[for="email"] {
    width: 75%;
    padding: 0px 2em;
    margin: 5% 0;
  }
  #newsletter-subscription-main-container label[for="send-info-consent"], #newsletter-subscription-main-container label[for="data-consent"] {
    padding: 0 3em;
  }
  #newsletter-subscription-main-container form > p {
    padding: 0 2em;
  }
  #newsletter-subscription-main-container #reCaptcha {
    padding: 0 3em;
  }
  #newsletter-subscription-main-container input[type="submit"] {
    width: 65%;
    margin-left: 4%;
  }
}

/* ----------------------------------

Large Tablet / Small Laptop 

-------------------------------------*/

@media (min-width: 551px) and (max-width: 1023px) {
.article-body .cell.large-2 {
    order: 1;
}
}

@media (min-width: 816px) and (max-width: 1050px) {


  ul.menu li > a {
    width: auto;
  }
  .header-banner .page-nav-sm-container {
    overflow: hidden;
    height: 40px;
  }
  #footer-carousel-lg-screen {
    width: 90%;
  }
  .main-header .main-nav-container .sub-nav-level-1 {
    margin: auto;
  }
     nav li#search {
    margin-bottom: 1rem;
    width: 90%;
}
nav li#search:hover {
  background-color: transparent;
}
.bottom-banner .content-row-container .tile {
  margin-bottom: 0.5rem;
}
  button#show-more-btn {
    margin: -1rem 0 1rem 15px;
  }
  .grid-x.report-main .large-12.report-hero-big .glow .grid-x > div .grid-container .grid-x:first-child > div.medium-2 {
    display: none;
}
  #home #homepage-main-article div#mian-article, #home #homepage-main-article #mian-article img {
    height: auto;
    flex-direction: row-reverse;
}
#home section #sub-article article {
  min-height: 100px;
}
#home #latest-events-home {
    padding: 1rem;
}
#latest-events-home .grid-container > div {
    flex-wrap: wrap;
    margin: 0;
}
.home-event-tile {
    min-width: 45%;
    margin: 0 10px 0 0;
}
section#category-sub-article-2 .grid-container {
    padding: 1rem;
}
section#category-sub-article-3 .grid-container > div {
    flex-wrap: wrap;
}
section#category-sub-article-3 .grid-container > div {
    flex-wrap: wrap;
    margin: 0;
}
.category-sub-article-3-tile {
    margin-bottom: 1rem;
}
.energy-search {
  width: 97%;
}
.grid-container.energy-search form {
    width: 70%;
}
.energy-search h3, .input-group {
    margin: 0;
}
footer #bottom ul {
    margin: 0;
}
.category-sub-article-3-tile > h3 {
  min-height: 100px;
}
.category-sub-article-3-tile > div h3 {
  min-height: 95px;
}
section#category-sub-article-2 .grid-container > div > h3 {
  min-height: 76px;
}







  article.latest-event-red, article.magazine-features-main-article, article.magazine-features-main-article img, .magazine-features-sub-article, .magazine-features-sub-article img, .latest-event-black {
    height: 290px;
}
  #home section #sub-article article .txt-part, #home .grey-grad article .txt-part {
    max-height: initial;
  }
  #homepage-main-article div#mian-article, #homepage-main-article img {
    height: 505px;
}
#homepage-main-article img {
  max-width: 150%;
  margin-left: -25%;
}
  .home_timeline .guided-tour.timeline-tour {
    margin-left: auto !important;
  }
  .thank-you-container {
    margin: 5%;
  }
  .thank-you-container h1 {
    margin: 5% 0;
  }
  .a-z-category-filter-container .filter-sector-container label {
    width: auto;
  }
  
  .a-z-category-filter-container .filter-sector-container button {
    margin: auto 0 auto auto;
  }
  
  .latest-news {
    height: 1052px;
  }

  .latest-news .news-item-container {
    width: 100%;
  }
  
  .latest-news .news-item-container img {
    margin-top: 0;
  }
  .latest-news .news-item-container .news-text {
    width: 65%;
  }
  .latest-news .news-item-container .news-text .tag-container {
    width: 100%;
  }
  .header-banner .header-banner-title {
    margin: auto;
    width: 75%;
  }
  .main-header {
    margin: 2% 0;
  }
  .videos-main-container .medium-12.large-8.primary.category-content {
    padding: 0 2em;
  }
  .columns.small-12.medium-12.large-4.col-right.category-content {
    padding-right: 0.9375rem;
  }
  div#crumbs {
    padding-left: 15px;
  }
  div.features-analysis {
    padding-left: 0.9375rem;
  }
  .main-header .main-nav-container ul li {
    text-align: center;
  }
  .vertical.medium-horizontal.menu.nav-aside {
    margin: 5% auto;
    width: 60%;
  }
  .main-header .main-nav-container #login {
    width: 90%;
    margin: 5% auto;
    background: #f0f0f0;
  }
  #login p.ctaModal.ctaLogin {
    width: 100%;
    text-align: center;
}
  .small-screen-search input[type="search"] {
    background-image: url('../img/search-solid.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 4%;
  }
  .main-header .main-nav-container .register {
    width: 90%;
    margin-top: 5%;
  }
  .main-header .main-nav-container .register p {
    width: 100%;
    text-align: center;
} 
  #newsletter-subscription-main-container label[for="send-info-consent"], #newsletter-subscription-main-container label[for="data-consent"] {
    padding: 0 3em;
  }
  #newsletter-subscription-main-container form > p {
    padding: 0 2em;
  }
  #newsletter-subscription-main-container #reCaptcha {
    padding: 0 3em;
  }
  #newsletter-subscription-main-container input[type="submit"] {
    width: 65%;
    margin-left: 4%;
  }
  #newsletter-subscription-main-container .header-text-container {
    margin-left: 3%;
  }
  #newsletter-subscription-main-container label[for="email"] {
    width: 66%;
    margin-left: 5%;
  }
}