

/* content slider */
.tx-contentblocks .content-slider {
    position: relative;
}

.tx-contentblocks .content-slider .slick-nav {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    cursor: pointer;
}

.tx-contentblocks .content-slider .slick-dots {
    text-align: center;
}

.tx-contentblocks .content-slider .slick-dots li {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    position: relative;
    margin-left: 10px;
}

.tx-contentblocks .content-slider .slick-dots button {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -mox-appearance: none;
    appearance: none;
    text-indent: -9999px;
    box-shadow: none;
    outline: 0;
    outline-style: none;
    outline-width: 0;
    padding: 0;
    margin: 0;
    border: 1px solid #fff;
}

.tx-contentblocks .content-slider .slick-dots li.slick-active button {
    background: #000000;
}

.tx-contentblocks .content-slider .slick-nav:after {
    position: absolute;
}

.tx-contentblocks .content-slider .slick-prev {
    left: 0;
}

.tx-contentblocks .content-slider .slick-next {
    right: 0;
}

/*.tx-contentblocks .content-slider .slick-prev:after {*/
    /*content: '<';*/
/*}*/

/*.tx-contentblocks .content-slider .slick-next:after {*/
    /*content: '>';*/
/*}*/

/*Bootstrap Grids*/
.tx-contentblocks .content-blocks-borders > div + div {
    border-left: 1px solid #ccc;
}

.tx-contentblocks .noGatter .colContent
{
    padding-left: 0;
    padding-right: 0;
}

/*Row with equal height columns*/
.row-eq-height {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.row-eq-height > .row-eq-height.height-centered,
.row-eq-height > .row-eq-height.height-centered > * {
    align-items: center;
}

@media (min-width: 992px)
{
    .col-md-3.row-eq-height
    {
        max-width: calc(100% / 4)
    }

    .col-md-4.row-eq-height
    {
        max-width: calc(100% / 3)
    }

    .col-md-6.row-eq-height
    {
        max-width: calc(100% / 2)
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-3.row-eq-height
    {
        max-width: calc(100% / 4)
    }
    .col-sm-4.row-eq-height
    {
        max-width: calc(100% / 3)
    }
    .col-sm-6.row-eq-height
    {
        max-width: calc(100% / 2)
    }
}

@media (max-width: 991px) {
    .tx-contentblocks .content-blocks-borders.break-col-md > div + div
    {
        border: none;
    }
    [class*='col-md-'].row-eq-height,
    .break-col-md.row-eq-height
    {
        display: block;
    }
}

@media (max-width: 767px) {
    .tx-contentblocks .content-blocks-borders.break-col-sm > div + div
    {
        border: none;
    }
    [class*='col-sm-'].row-eq-height,
    .break-col-sm.row-eq-height
    {
        display: block;
    }
}